.fs-textover-box input {
    background-color: transparent;
}

.fs-textover-box .fs-over-left,
.fs-textover-box .fs-over-right {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: -27px;
    color: #AAA;
}

.fs-textover-box .fs-over-left {
    padding-left: 13px;
}

.fs-textover-box .fs-over-right {
    right: 24px;
    text-align: right;
}