<!DOCTYPE html>
<html>
<head>
    <title>Directive Demo</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" data-semver="3.3.1" data-require="bootstrap-css@*" />
    <link rel="stylesheet" href="style.css" />
    <link href="directives/d-textover/d-textover.style.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <d-scale-head height-px="100">
        <div class="row">
            <div class="col-sm-4">Stuff on the left</div>
            <div class="scale-me col-sm-4 text-center">
                ASD
                <img class="scale-me" height="90" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/2000px-Penrose-dreieck.svg.png" />
                FAS
            </div>
            <div class="col-sm-4 text-right">Stuff on the right</div>
        </div>
    </d-scale-head>
    <hr />
    <div ng-controller="main as main">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="thing">Thing</label>
                <div class="col-sm-6">
                    <div class="d-textover-box">
                        <input type="text" id="thing" class="form-control"
                               ng-model="main.Input1" />
                        <d-textover left hide-with-input>
                            LEFT: <span ng-bind="main.Left"></span>
                        </d-textover>
                        <d-textover right>
                            RIGHT: <span ng-bind="main.Right"></span>
                            <d-spinner show="true"></d-spinner>
                        </d-textover>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Left</label>
                <div class="col-sm-6">
                    <input ng-model="main.Left" placeholder="yes" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Right</label>
                <div class="col-sm-6">
                    <input ng-model="main.Right" />
                </div>
            </div>
        </form>
        <div ng-repeat="thing in main.Things">
            <span ng-bind="$index"></span>
            thing!
        </div>
    </div>
    <script src="app.js"></script>
    <script src="directives/d-spinner/d-spinner.directive.js"></script>
    <script src="directives/d-textover/d-textover.directive.js"></script>
    <script src="directives/d-scale-head/d-scale-head.directive.js"></script>
</body>
</html>
