.d-scale-head-above,
.d-scale-head-below {
    background-color: #f70
}

.d-scale-head-above {
    height: 100px;
    transition: height 0.25s;
    -webkit-transition: height 0.25s;
    -moz-transition: height 0.25s;
    -ms-transition: height 0.25s;
    -o-transition: height 0.25s;
}

.d-scale-head-below {
    height: 50px;
    transition: height 0.25s;
    -webkit-transition: height 0.25s;
    -moz-transition: height 0.25s;
    -ms-transition: height 0.25s;
    -o-transition: height 0.25s;
}
    
.d-scale-head-below .scale-me {
    transform: scale(.75, .75) translateY(-15%);
    -webkit-transform: scale(.75, .75) translateY(-15%);
    -moz-transform: scale(.75, .75) translateY(-15%);
    -ms-transform: scale(.75, .75) translateY(-15%);
    -o-transform: scale(.75, .75) translateY(-15%);
    transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -ms-transition: transform 0.25s;
    -o-transition: transform 0.25s;
}